@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Montserrat:wght@600&family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  /* background: rgba(200, 200, 200, 0.05); */
  box-sizing: border-box;
}

:root {
  --border-radius: 20px;
  --color-navy: #151827;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --padding: 20px;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #151827;
  background-color: white;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 { font-size: 64px; letter-spacing: -1px; }
h2 { font-size: 56px; }
h3 { font-size: 40px; }
.large { font-size: 24px; }

p {
  line-height: 160%;
}

a, button {
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  padding: 20px 30px;
}

header.scrolled {
  background-color: var(--color-navy);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
}

header .container {
  display: flex;
  justify-content: space-between;
}



.logo {
  height: 50px;
}

.flex {
  display: flex;
}

.spaced {
  justify-content: space-between;
}

.gap {
  gap: 20px;
}

.py {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 30px;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #dfdfdf;
  font-size: 0.9em;
  letter-spacing: 1px;
}

header nav a:hover {
  transition: color .3s ease-in;
  color: white;
}

header .toggle {
  display: none;
  padding: 10px;
}

header .toggle svg {
  color: white;
  width: 30px;
}

main {
  background-color: white;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  padding: 200px 30px;
}

section:not(:first-child) {
  
}

.wrap {
  max-width: 700px;
}

section.white {
  background-color: #FFFFFF;
}

section.yellow {
  background-color: #FEDC00;
}

section.navy {
  background-color: var(--color-navy);
  color: white;
}

section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151827;
  color: white;
}

.skew {
  margin-top: -100px;
  -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 100%);
}

.reverse {
  text-align: right;
}

.reveal {
  visibility: hidden;
}

.wrap {
  max-width: 700px;
}

.hero .video {
  aspect-ratio: 4/3;
  width: 100%;
  height: auto;
  background: url('./images/bdfb83c543eaeb979a58c66ce1bb6787.png') no-repeat center center;
  background-size: cover;
  border-radius: 30px;
}

.features .container .types {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 100px;
}

.features .container table {
  width: 100%;
  max-width: 1136px;
  margin: auto auto;
  margin-top: 100px;
  border-radius: 6;
}

.responsive-table {
  overflow-x: scroll;
}

.features .container table td {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.features .container table tr td:first-child {
  width: 0.1%;
  white-space: nowrap;
  background-color: #eaeaeb;
  text-align: left;
}

.features .container table tr:first-child td {
  background: none;
}

.button {
  
  display: inline-block;
  padding: 20px 40px;

  background-color: #FEDC00;
  box-sizing: border-box;

  border-radius: 10px;
  text-transform: uppercase;

  color: #151827;

  font-size: 0.8em;
  letter-spacing: 1px;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.button span {
  white-space: nowrap;
}

.button.secondary {
  color: white;
  background-color: #292D33;
}

.button.compact {
  padding: 15px 20px;
}

.grid {
  display: flex;
  gap: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.grid .col {
  flex: 1;
  display: flex;
}

.grid .col.center {
  align-items: center;
}

.flex {
  display: flex;
  gap: 20px;
}

.relative {
  position: relative;
}

.swirl {
  position: absolute;
  bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 30px;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;

  border: solid 3px #41403E;

  aspect-ratio: 9/11;

}



button {
  border: none;
}

.slider {
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.sep {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 620px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto auto;
}

.huge {
 font-size: 28px;
}

.uppercase {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

.mt {
  margin-top: 20px;
}

footer {
  box-sizing: border-box;
  padding-top: 120px;
  margin-top: -120px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  background: url('./images/envelopes.svg') right bottom no-repeat;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;

  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);
  
  background-color: var(--color-navy);
}



footer ul {
  list-style: none;
  margin-top: 10px;
}

footer a {
  opacity: 0.7;
  text-decoration: none;
  transition: opacity .2s ease-in;
  color: white;
}

footer a:hover {
  opacity: 1;
}

footer ul li {
  line-height: 200%;
}

footer .logo {
  margin-bottom: 20px;
}

.full {
  width: 100%;
}

svg.icon {
  height: 24px;
}

@media screen and (max-width: 1200px) {
  header nav { display: none; }
  header .buttons { display: none; }
  header .toggle { display: inline-block; }
  h1 { font-size: 44px; }
  h2 { font-size: 36px; }
  h3 { font-size: 20px; }
}

@media screen and (max-width: 768px) {
  .grid { flex-direction: column; }
  .grid .col {
    width: 100%;
  }
}


